%p
  %i Welcome to your new public journal.

%p
  Listed is a free blogging platform that allows you to create a public journal published directly from your notes.
  This unique approach to keeping a public blog on the internet using just a
  %a{"href" => "https://standardnotes.org", "target" => "_blank"} notes app
  yields two surprising effects:

%ol
  %li You discover a better form of your writing. You worry less about how others will perceive your words, and more about feeling fulfilled that you shared your experience in its truest form. Honest writing, in our experience, is better writing.

  %li
    The privacy of writing in the
    %a{"href" => "https://standardnotes.org", "target" => "_blank"} Standard Notes
    app combined with the ease of publishing on Listed encourages free flow and expansion of thought. You’ll probably publish on Listed more than you do any other platform. It’s not uncommon that Listed authors publish a new journal entry to their blog every day.

%p
  %a{"href" => "https://listed.to/@Listed/5063/what-will-you-write-about", "target" => "_blank"} Learn more about Listed →

%p
  %a{"href" => "https://listed.to/@Listed/5202/100-day-writing-challenge", "target" => "_blank"} Take the #100Days Writing Challenge →

.mt-40
  - usage = request.path.include? "usage"
  %h3 New Author?
  - if !@secret_url
    = form_tag({controller: "authors", action: "create", method: "post"}, {:class => "no-border"})
    %button.black.mt-20{"type" => "submit"} Generate Author Link
  - else
    %p Your author account is now ready. Follow these steps to get started with publishing.
    %ol
      %li
        Open the
        %a{"href" => "https://standardnotes.org", "target" => "_blank"} Standard Notes web or desktop app.
      %li In the lower left corner of the app, click <strong>Extensions</strong>.
      %li In the lower right corner, click <strong>Import Extension</strong>.
      %li Paste in the code below in the input box that appears, then press enter on your keyboard.
      %li
        Create a new note, or publish an existing note, by clicking <strong>Actions</strong> in the note editor pane, and choosing
        <strong>Publish to Blog</strong>.
      %li That's it! Your public journal is now live and ready to go! Be sure to explore the <strong>Settings</strong> option to customize your blog's settings.

    .sn-component
      .sk-notification.info.dashed
        .info-contrast.wrap.center-text.selectable= @secret_url
    %p
      %strong Note:
      This code serves as your access credentials to Listed. After importing it, you are advised to store it somewhere safe.

  -if usage
    .mt-50
      = render "usage/how_to"

.active-authors.mt-40
  %h3 Recent Authors
  - @active_authors.each do |author|
    .author
      %a{"href" => "#{author.url}"}
        - if author.featured
          %span ✪
        = author.title
      - if author.bio
        .bio= author.bio
