%h3 Hey #{@author.display_name},

%p
  %strong Someone has signed your guestbook! They had this to say:

%p
  %i= @entry.text

- if @entry.donation_info
  %p
    The signer has also left this donation info:
  %p
    %i= @entry.donation_info

%hr.left

%p This post is private and not yet published. If you'd like it to appear on your public guestbook, click Approve below.

%p
  %a{"href" => "#{@entry.approval_url}"}
    %strong Approve

%p
  If after you've approved the entry you'd like to unapprove it, click Unapprove below.
%p
  %a{"href" => "#{@entry.unapproval_url}"}
    %strong Unapprove

- if @entry.signer_email
  %p
    The signer has indicated that their email address is
    %a{"href" => "mailto:#{@entry.signer_email}"} #{@entry.signer_email}.
    Feel free to shoot them an email sending your thanks!
