%h3 Hey #{@author.display_name},

%p
  %strong Someone has signed your guestbook!

- @entries.each do |entry|
  %p
    %strong On #{entry.created_at.to_formatted_s(:long)}:
  %p
    %i= entry.text
  - if entry.donation_info && entry.donation_info.length > 0
    %p The signer has also left this donation info:
    %p
      %i= entry.donation_info
  %p 
    This post is private and not yet published. 
    If you'd like it to appear on your public guestbook, click Publish below.
    If after you've published the entry you'd like to unpublish it, click Unpublish below.
  %p
    %a{"href" => "#{entry.approval_url}"}
      %strong Publish
  %p
    %a{"href" => "#{entry.unapproval_url}"}
      %strong Unpublish
  %p
    %a{"href" => "#{entry.spam_url}"}
      %strong Report Spam
  - if entry.signer_email && entry.signer_email.length > 0
    %p
      The signer has indicated that their email address is
      %a{"href" => "mailto:#{entry.signer_email}"} #{entry.signer_email}.
      Feel free to shoot them an email sending your thanks!
  %hr.left