#author-profile
  #author-posts
    - @posts.each do |post|
      .author-post.single-post-show
        = render "posts/post", :post => post
    .navigation
      - if @older_than
        .older
          %a{"href" => "#{@display_author.url}?b=#{@older_than}"} ← Older
      - if @newer_than
        .newer
          %a{"href" => "#{@display_author.url}?a=#{@newer_than}"} Newer →
