%p #{@author.title} published some new posts this week:

- @posts.each do |post|
  .post
    %h3
      %a.unstyled{"href" => "#{post.author_relative_url}"}
        #{post.title}
    .post-content
      %i=post.created_at.strftime("%B %e, %Y")
      .post-body
        %p #{post.rendered_text}

%hr

.post-footer
  - if @author.email && @author.email.length > 0
    %p
      %i
        You can reply to the author by replying directly to this email.

.links-footer{"style" => "margin-bottom: 20px;"}
  %a{"href" => "#{@unsubscribe_url}"} Unsubscribe

.bottom-margin-space
