%p
  Edit payment credential for
  %strong #{@author.display_name}.

.mt-20.form-box.full
  = form_for :credential, url: author_credential_path(@author, @credential, :secret => @author.secret),
    method: :patch do |f|
    .form-section
      = f.label "Key", :class => "label"
      = f.text_field :key, :class => "field"
    .form-section.mt-10
      = f.label "Value", :class => "label"
      = f.text_field :value, :class => "field"
    .form-section.mt-10
      = f.submit "Save", name: 'save'

  .mt-20
    = button_to 'Delete', author_credential_path(@author, @credential, :secret => @author.secret), method: :delete
