%p
  Add a new payment credential for
  %strong #{@author.display_name}.

.mt-20.form-box.full
  = form_for :credential, url: author_credentials_path(@author, :secret => @author.secret) do |f|
    .form-section
      = f.label "Key", :class => "label"
      = f.text_field :key, :class => "field"
    .form-section.mt-10
      = f.label "Value", :class => "label"
      = f.text_field :value, :class => "field"
    = hidden_field_tag :secret, @author.secret
    .form-section.mt-20
      = f.submit "Save"
