<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>

    <% if @post %>
      <% @desc = @post.desc || strip_tags(@post.rendered_text).slice(0, 200) + "..." %>
      <% @canonical = @post.canonical %>
      <% @meta_image = @post.image_url if @post.image_url %>
      <% @twitter_style = "summary_large_image" if @post.image_url %>
    <% elsif !@title && !@desc %>
      <% @title = "Listed" %>
      <% @desc = "Listed allows you to create an online publication with automatic email newsletters delivered to your readers, directly from Standard Notes. It's ideal for creating a public journal, or sharing domain-specific knowledge."%>
    <% end %>

    <% if @post&.unlisted || @post&.author&.is_restricted || @display_author&.is_restricted %>
      <meta name="robots" content="noindex">
    <% end %>

    <title><%= @title %></title>
    <meta content="<%= @desc %>" name="description"/>

    <% if @canonical %>
      <link rel="canonical" href="<%= @canonical %>"/>
    <% end %>

    <%= favicon_link_tag @meta_image, rel: 'icon', type: 'image/png', sizes: '250x250' %>
    <%= favicon_link_tag @fav_icon, rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag @meta_image, rel: 'apple-touch-icon', type: 'image/png', sizes: '250x250' %>
    <%= favicon_link_tag @meta_image, rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '250x250' %>
    <%= favicon_link_tag @fav_icon, type: 'image/png', sizes: '32x32' %>
    <!-- Apple -->
    <meta content="<%= @title %>" name="apple-mobile-web-app-title"/>
    <meta content="<%= @title %>" name="application-name"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter -->
    <meta content="<%= @desc %>" name="twitter:description"/>
    <meta content="<%= @title %>" name="twitter:title"/>
    <meta content="@standardnotes" name="twitter:site"/>

    <meta content="<%= @twitter_style ? @twitter_style : 'summary' %>" name="twitter:card"/>
    <meta name="twitter:image" content="<%= @meta_image %>">

    <!-- Facebook -->
    <meta name="og:image" content="<%= @meta_image %>">
    <meta content="<%= @title %>" name="og:title"/>
    <meta content="<%= @title %>" name="og:description"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'stylekit', 'data-turbolinks-track': 'reload' %>

    <% if @should_show_condensed_cover %>
      <%= stylesheet_link_tag    'condensed-cover', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <% if @should_show_carded_blog %>
      <%= stylesheet_link_tag    'carded-blog', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <%= stylesheet_pack_tag('clientRegistration', media: 'all', 'data-turbolinks-track': 'reload', defer: true) %>
    <%= javascript_packs_with_chunks_tag('clientRegistration', 'data-turbolinks-track': 'reload', defer: true) %>

    <% if @display_author %>
      <%= auto_discovery_link_tag( :rss, @display_author.url + "/feed.rss" ) %>
    <% end %>

    <% if @styles %>
      <style type="text/css" data-turbolinks-track='reload'>
        <%= @styles.html_safe %>
      </style>
    <% end %>

    <!-- Plausible -->
    <script defer data-domain="listed.to" src="https://plausible.standardnotes.com/js/plausible.js"></script>
    <!-- End Plausible Code -->

  </head>

  <body>
    <main id="main-container">
      <% if !@hide_header %>
        <%= render "shared/header" %>
      <% end %>
      <div id="content-container">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </main>
</html>
